body{
    font-family: arial;
}
img{
    max-width: 100%;
}
p{
    line-height: 2;
}
a{
    color:white;
    text-decoration: none;
}
/*header*/
header{
    background-image: url(./coffee-images-main/banner.jpg);
    background-size: cover;
    color:white;
    text-align: center;
    height: 300px;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*main*/
.container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.main-flex{
    display: flex;
}
main{
    width: 65%;
    margin-right: 20px;
}
.btn-more{
    display: inline-block;
    background-color: black;
    color:white;
    text-decoration: none;
    padding:20px;
    margin-bottom: 20px;
}
.btn-more2{
    display: inline-block;
    background-color: brown;
    color:white;
    text-decoration: none;
    padding:20px;
    margin-bottom: 20px;
}

.about-container{
    display: flex;
}
.about-container img{
    width: 50%;
    margin-right: 20px;
}